.error404 {

	.page-title {
		margin-top: 4em;
	    @include font-size(5);
	}

	.search-form {
		width: 50%;

		@include breakpoint(tablet-v) {
			width: 80%;

			input[type="submit"] {
				padding: .4375em .75em .5em;
			}
		}
	}
}
