// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}
@mixin clearfix-after() {
	clear: both;
}

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

@mixin bg-dust() {
	background-image: url(assets/images/bg-dust.png);
    background-repeat: repeat;
}
@mixin bg-dust2() {
	background-image: url(assets/images/bg-dust2.png);
    background-repeat: repeat;
}
@mixin bg-dust3() {
	background-image: url(assets/images/bg-dust3.png);
    background-repeat: repeat;
}
@mixin bg-topography() {
	background-image: url(assets/images/bg-topography.png);
    background-repeat: repeat;
}
@mixin bg-topography2() {
	background-image: url(assets/images/bg-topography2.png);
    background-repeat: repeat;
}
@mixin bg-topography3() {
	background-image: url(assets/images/bg-topography3.png);
    background-repeat: repeat;
}
@mixin bg-stucco() {
	background-image: url(assets/images/bg-stucco.png);
    background-repeat: repeat;
}
@mixin bg-feathers() {
	background-image: url(assets/images/bg-feathers.png);
    background-repeat: repeat;
}
@mixin bg-crossword() {
	background-image: url(assets/images/bg-crossword.png);
    background-repeat: repeat;
}

// Media Queries
// http://gs.statcounter.com/screen-resolution-stats
@mixin breakpoint($point) {

  @if $point == site-max {
    @media all and (max-width: $size__site-max) { @content; }
  }
  @if $point == tablet-h {
    @media all and (max-width: 1024px) { @content; } // 1024px and below.
  }
  @if $point == tablet-m {
    @media all and (max-width: 900px) { @content; } // 900px and below.
  }
  @if $point == tablet-v {
    @media all and (max-width: 768px) { @content; } // 768px and below.
  }
  @if $point == tablet-min-v {
    @media all and (min-width: 769px) { @content; } // 769px and above.
  }
  @if $point == phone-h {
    @media all and (max-width: 640px) { @content; } // 640px and below.
  }
  @if $point == phone-v {
    @media all and (max-width: 380px) { @content; } // 380px and below.
  }
}
