// Color
$color__base: #3d4644;
$color__base-medium: #808080; // aka Gray
$color__base-light: #c0c0c0; // aka Silver
$color__base-xlight: #dcdcdc; // aka Gainsboro
$color__base-xxlight: #f5f5f5; // aka = WhiteSmoke

$color__brown: #a97d5e;
$color__brown-lt: #af8466;
$color__green: #519289;
$color__green-lt: #60c6b8;
$color__green-drk: #4a827a;
$color__blue: #4c759d;
$color__blue-lt: #5d9edc;
$color__blue-drk: #355676;
$color__olive: #86957d;
$color__olive-lt: #d9f09f;
$color__brick: #8f594b;
$color__brick-lt: #bb8072;
$color__tan: #c6c2bc;
$color__tan-lt: #e6e4e0;
$color__yellow: #f1ffcc;
$color__beige: #cac3b7;
$color__beige-lt: #f3f2ef;

// Typography
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__serif: "Times New Roman", serif;

$font__main: "Tiempos Text", Georgia, Times, serif;
$font__sans: "Galaxie Polaris", Arial, Helvetica, sans-serif;

$font__weight-normal: 400;
$font__weight-semibold: 500;
$font__weight-bold: 700;

$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;

// Structutal
$size__site-max: 100rem; // 80=1280  100=1600  85=1360
