.give {
	
	.message {
		background-color: $color__green;
		color: #ffffff;
		margin-top: 3em;
		margin-bottom: 24em;
		padding: 1em 0 3em;

		@include breakpoint(tablet-v) {
			margin-bottom: 64em;
		}
		@include breakpoint(phone-v) {
			margin-bottom: 34em;
		}
		@include breakpoint(phone-v) {
			margin-bottom: 34em;
		}

		h2 {
			padding-top: 1em;

			@include breakpoint(tablet-m) {
				@include font-size(1.875);
			}
		}

		.sub-text {
			margin-top: 5em;
			@include font-size(.875);

			@include breakpoint(tablet-m) {
				margin-top: 2em;
			}
		}

		.col-1-2 {
			position: relative;
		}

		.message-image {
			position: absolute;
			top: 0;
			right: 0;
			text-align: right;

			@include breakpoint(tablet-v) {
				top: 98%;
				right: 3%;

				img {
					max-width: 100%;
					width: 97%;
				}
			}
		}
	}
}
