.give {

	.callout {
		width: 75%;
		background-color: #ffffff;
		border-bottom: 2px solid $color__blue-lt;
		padding: 2em;
		margin: -120px auto 0;
	}

	.callout_link {}

	.onpage-menu {

		.onpage-menu-menu {

			.onpage-menu-item {}

		}
	}

	.message {

		h2 {}

		.sub-text {}

		.message-image {

			img {}
		}
	}
}

.givemod-image {}

.givemod-image-image {}

.givemod-image-caption {}

.givemod-text {

	h2 {}
}
