.homepage {

	h2 {
		@include font-size(5.3125);

		@include breakpoint(tablet-h) {
			@include font-size(4);
		}
		@include breakpoint(tablet-v) {
			@include font-size(3);
		}
	}

	.top-right {
		padding: 1em 0 10em 6em;

		@include breakpoint(tablet-h) {
			padding-left: 2em;
		}
		@include breakpoint(tablet-v) {
			padding-left: 0;
		}

		h2 {
			color: $color__brick;
			line-height: 1;
			margin-bottom: .5em;
		}

		.top-text {
			padding-right: 5em;

			@include breakpoint(tablet-v) {
				padding-left: 0;
			}
		}

		.top-button {
			margin-top: 4em;
		}
	}

	.mid-left {
		margin-top: -8em;
		padding-left: 6em;

		@include breakpoint(tablet-v) {
			padding-left: 0;
			margin-top: 0;

			img {
				float: left;
				margin: 0 1em 4em 0;
			}
		}

		.mid-left-stat {
			color: $color__beige;
			line-height: 1;
			padding: .125em 0 0;
			@include font-size(5.625);
		}

		.mid-left-text {
			color: #756c5c;
			font-family: $font__sans;
			padding: 0 7em 2em 0;
			@include font-size(.875);

			@include breakpoint(tablet-v) {
				padding-right: 0;
			}
		}
	}

	.mid-right {
		padding-left: 1em;

		@include breakpoint(tablet-v) {
			padding-left: 0;
		}
	}

	.home-bottom {
		background-color: $color__olive;
		margin-top: 6em;
	}

	.lower-left,
	.lower-right {
		margin-bottom: 6em;

		.ibg {
			height: 500px;

			@include breakpoint(tablet-v) {
				height: 350px;
			}
			@include breakpoint(phone-v) {
				height: 250px;
			}
		}
	}

	.lower-left {
		float: left;
		width: 60%;
	}

	.lower-right {
		float: left;
		width: 40%;
	}

	@include breakpoint(phone-h) {
		.lower-left,
		.lower-right {
			margin-bottom: 1em;
			float: none;
			width: 100%;
		}
	}

	.bottom-left,
	.bottom-right {
		color: #ffffff;
		margin-bottom: 6em;
	}

	.bottom-left {
		padding: 1em 5em 4em 8em;

		@include breakpoint(phone-h) {
			padding: 1em 0 0;
		}

		h2 {
			color: $color__yellow;
			line-height: 1;
			margin-bottom: .25em;
		}

		.bottom-text {
			margin-bottom: 3em;
		}
	}

	.bottom-right {

		img {
			display: block;
		}
	}
}

.ibg {
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
