.land {

	.entry-title {
		padding-top: .25em;
	}

	.entry-content {
		padding: 0 0 1.5em 1.5em;

		@include breakpoint(tablet-v) {
			padding: 1.5em 0 3em;
		}

		.btn {
			margin-top: 1em;
		}
	}

	.onpage-link {
		margin-bottom: 1em;
		text-align: right;

		@include breakpoint(tablet-v) {
			margin-bottom: 6em;
		}

		a {
			color: #ffffff;
			display: inline-block;
			font-family: $font__sans;
			font-weight: $font__weight-semibold;
			@include font-size(.875);

			span {
				border-bottom: 1px solid #ffffff;
				padding-bottom: 3px;
				margin-right: 1em;
			}
			&:hover {
				opacity: .75;
			}
		}
	}

	.land-block {
		margin-bottom: 4em;

		.land-stat {
			margin: 1em 0 1.5em;
		}

		h2 {
			@include font-size(2.5625);

			a {
				color: #c8f1eb;

				&:hover {
					color: $color__base;
				}
			}
		}

		.land-link {
			margin: 1em 0 1.5em;
			text-align: right;
			@include font-size(.875);

			@include breakpoint(tablet-v) {
				text-align: left;
			}

			a {
				border-bottom: 1px solid currentColor;
				color: #ffffff;
				font-family: $font__sans;
				font-weight: $font__weight-semibold;
				padding-bottom: .25em;

				&:hover {
					opacity: .75;
				}
			}
		}

		.excerpt {
			font-family: $font__sans;
			padding-top: .5em;

		}

		.map-link {
			border-bottom: 1px solid #c8f1eb;
			color: #c8f1eb;
			font-family: $font__sans;
			font-weight: $font__weight-semibold;
			padding-bottom: .25em;
			@include font-size(.875);

			&:hover {
				border-bottom: 1px solid #ffffff;
				color: #ffffff;
			}
		}
	}

	.land-img-wrap {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 440px;

		a {
			display: inline-block;
			height: 100%;
			width: 100%;
		}
	}

	.lands-map {

		h2 {
			color: $color__beige;
			@include font-size(4.1875);

			@include breakpoint(tablet-v) {
				@include font-size(3);
			}
		}
	}
}


.single-land {

	.top-left {

		margin-top: 30px;
		padding: 100px 0 0 40px;

		@include breakpoint(tablet-v) {
			padding: 0;
		}

		a {
			border-bottom: 1px solid #ffffff;
			color: #ffffff;
			font-family: $font__sans;
			font-weight: $font__weight-semibold;

			&:hover {
				opacity: .75;
			}
		}

		.land-stats div {
			margin-bottom: 1em;

			.sep {
				color: $color__green-lt;
				padding: 0 .25em;
			}
			.num {
				font-family: $font__sans;
			}

			@include breakpoint(tablet-v) {
				margin-bottom: .25em;
			}

		}
	}

	.top-right {
		margin-top: 30px;
		position: relative;
		right: -4em;

		@include breakpoint(tablet-v) {
			right: 0;
		}
	}
}

.land-content {
	margin-bottom: 3em;

	.land-content-left {
		padding-right: 6em;
		padding-left: 3em;

		@include breakpoint(tablet-v) {
			padding: 0;
			margin-bottom: 4em;
		}
	}

	.land-content-right {
		@include font-size(.875);

		p {
			font-family: $font__sans;

			@include breakpoint(tablet-v) {
				margin-bottom: 1.5em;
			}
		}

		h3 {
			border-bottom: 1px solid $color__base-xlight;
			margin-bottom: .5em;
			@include font-size(.875);
		}

		h4 {
			@include font-size(.875);
			padding-top: .5em;
		}
	}
}

.properties-map {
	background-color: #e6ecf1;

	p:first-of-type {
		margin-bottom: 0;
	}

	.map-link {
		text-align: right;

		a {
			border-bottom: 1px solid $color__blue-lt;
			color: $color__blue;
			display: inline-block;
			font-family: $font__sans;
			font-weight: $font__weight-semibold;
			margin: 0 1em 0 0;
			@include font-size(.875);

			&:hover {
				opacity: .75;
			}
		}
	}
	.map-link-caption {
		color: #8091a1;
		margin: 1em 0 0 0;
		@include font-size(.875);
	}
}

.properties {
	background-color: #e6ecf1;
	padding: 4em 0 8em;

	h2 {
		color: #8091a1;
		margin-bottom: .75em;
	}
}

.property-list {

	.property {
		width: 35%;

		@include breakpoint(tablet-v) {
			width: 100%;
		}

		img {
			position: relative;
		}

		h3,
		.property-text {
			padding-left: 5%;

			@include breakpoint(tablet-v) {
				padding-left: 0;
			}
		}

		h3 {
			margin: .5em 0;
			@include font-size(1);

			@include breakpoint(tablet-v) {
				@include font-size(.875);
			}

			span {
				border-bottom: 2px solid #60b2ff;
				display: block;
			}
		}

		.property-text {
			font-family: $font__sans;
			margin-bottom: 2em;
			@include font-size(.875);

			@include breakpoint(tablet-v) {
				@include font-size(.75);
			}
		}
	}

	.property:nth-child(1),
	.property:nth-child(2),
	.property:nth-child(3) {
		span {
			display: inline;
		}
	}

	.property:nth-child(1) {
		float: left;
		width: 58%;

		img {
			left: -3vw;
		}

		h3,
		.property-text {
			padding: 0 30% 0 0;
		}

		@include breakpoint(tablet-v) {
			float: none;
			width: 90%;

			img {
				left: -3.5%;
			}
		}
	}

	.property:nth-child(2) {
		float: right;
		margin-top: 4em;
		width: 30%;

		h3,
		.property-text {
			padding-right: 10%;
		}

		@include breakpoint(tablet-v) {
			float: none;
			margin-left:25%;
			margin-top: 2.5em;
			width: 75%;

			h3,.property-text {
				padding-right: 0;
			}
		}
	}

	.property:nth-child(3) {
		clear: both;
		float: right;
		margin-top: 4em;
		width: 50%;

		h3,
		.property-text {
			padding-right: 20%;
		}

		@include breakpoint(tablet-v) {
			float: none;
			margin-top: 2.5em;
			width: 90%;
		}
	}

	.property:nth-child(4) {
		clear: left;
		padding-top: 20em;

		@include breakpoint(tablet-v) {
			padding-top: 2em;
		}
	}
}


.land-list-wrap {
	padding: 6em 0;

	h2 {
		color: $color__beige;
	}

	.view-more-wrap {
		float: right;
		line-height: 1;
		text-align: center;
		width:12%;
		@include breakpoint(phone-h) {
			width: 15%;
		}

		.view-more {
			width: 12%;
			position: absolute;
			bottom: 220px;

			@include breakpoint(tablet-v) {
				top: 140px;
			}
			@include breakpoint(phone-h) {
				width: 15%;
			}
		}

		.cssicon-plusminus {
		    background-color:  #d0d5d2;
			border: 1px solid $color__green;

			&:hover {
				background-color: #6d7e69;
			}
		}
		.view-text {
			color: $color__green;
			font-family: $font__sans;
			font-weight: $font__weight-semibold;
			margin-top: .75em;
			@include font-size(.875);
		}
	}

	.land-list {
		display: inline-block;
		margin-left: 10%;
		width: 78%;

		@include breakpoint(tablet-v) {
			margin-left: 0;
			width: 100%;
		}

		&.extended {
			display: none;
		}

	}

	.land-block {
		float: left;
		margin-right: 3.5%;
		margin-bottom: 2.5em;
		width: 31%;

		&:nth-child(3n + 3) {
			margin-right: 0;

			@include breakpoint(tablet-v) {
				margin-right: 2%;
			}
		}

		@include breakpoint(tablet-v) {
			margin-right: 2%;
			margin-bottom: 3.5em;
			width: 49%;

			&:nth-child(2n + 2) {
				margin-right: 0;
			}
		}

		img {
			display: block;
		}

		.land-stat {
			border-bottom: 2px solid $color__beige;
			margin: 1em 0 1.5em;
			@include font-size(.875);

			p {
				margin-bottom: 0;
			}
		}

		h4 {
			margin-bottom: .5em;
			color: $color__green;
		}

		.prop-feats {
			@include font-size(.75);
		}

		a {
			color: $color__base;

			h4 {
				color: $color__green;
			}
			&:hover h4 {
				color: $color__base;
			}
		}
	}
}


.land-regulations {
	background-color: $color__brown;
	color: #ffffff;
	padding: 5em 1em;
	@include font-size(1.0625);

	@include breakpoint(tablet-v) {
		@include font-size(.8125);
	}

	h3 {
		margin-bottom: 1em;
	}

	.col-1-3 {
		padding-right: 2em;

		@include breakpoint(tablet-v) {
			padding-right: 0;
		}
	}

	a {
		border-bottom: 2px solid #ffffff;
		color: #ffffff;

		&:hover {
			opacity: .75;
		}
	}
}
