.projmod {
	margin-bottom: 3%;

	img {
		display: block;
		max-width: 100%;
	}
}

.projmod-quote {

	blockquote {
		padding: 0;
		margin-right: 2.5em;
		margin-left: 0;

		@include breakpoint(tablet-v) {
			margin-right: 0;
		}
	}
}

.nooffset {
	margin-top: 10px;
}
.up40 {
	margin-top: -40px;
}
.dn40 {
	margin-top: 40px;
}
.dn140 {
	margin-top: 140px;
}

@include breakpoint(tablet-v) {
	.up40,
	.dn40,
	.dn140 {
		margin-top: 24px;
	}
}

.projmod-image-image {
	margin-bottom: 2em;

	@include breakpoint(tablet-v) {
		margin: 0 0 0 -3%;
		width: 106%;
	}

	img {
		display: block;

		@include breakpoint(tablet-v) {
			width: 100%;
			max-width: none;
		}
	}
}

.projmod-content-left {
	position: relative;
	left: -40px;

	@include breakpoint(tablet-v) {
		left: auto;
		right: -3%;
		text-align: right;
		margin-bottom: 2em;
		padding-left: 25%;

		img {
			display: inline-block;
			width: 100%;
		}
	}
}

.projmod-content-right {
	position: relative;

	@include breakpoint(tablet-v) {
		left: -3%;
		img {
			display: inline-block;
		}
	}
}

.projmod-content-text {
	padding: 0 4em 0 0;

	p:last-of-type {
		margin: 0;
	}

	@include breakpoint(tablet-v) {
		padding-right: 0;
	}
}

.projmod-content-left-caption,
.projmod-content-right-caption,
.projmod-image-image-caption {
	color: #756c5c;
	line-height: 1.5;
	margin-top: 1em;
	@include font-size(.875);

	@include breakpoint(tablet-v) {
		margin-top: 0;
		text-align: left;
		@include font-size(.75);
	}
}
.projmod-content-left-caption {
	padding-left: 1em;
}
.projmod-content-right-caption {
	padding-right: 4em;
	@include breakpoint(tablet-v) {
		padding-left: 1em;
	}
}
.projmod-image-image-caption {
	@include breakpoint(tablet-v) {
		padding: .5em .25em 0;
	}
}

.projmod-heading {

	h2 {
		color: $color__olive;
		padding-left: 1.25em;
		padding-top: 1em;
		margin-bottom: 0;
		@include font-size(3.5);

		@include breakpoint(tablet-v) {
			padding: 0;
			@include font-size(2.5);
		}
		@include breakpoint(phone-h) {
			@include font-size(1.5);

		}
	}
}
