.projects {

	.top-left {
		margin-top: 30px;
		padding: 100px 0 0 40px;

		@include breakpoint(tablet-v) {
			padding: 0;
		}

		a {
			border-bottom: 1px solid #ffffff;
			color: #ffffff;
			font-family: $font__sans;
			font-weight: $font__weight-semibold;

			&:hover {
				opacity: .75;
			}
		}
	}

	.featured-project {
		margin-top: 30px;
		position: relative;
		right: -4em;

		@include breakpoint(tablet-v) {
			right: 0;
		}

		.fp-title {
			margin-top: 2em;
			padding-left: 2em;

			@include breakpoint(tablet-v) {
				padding-left: 0;
			}
		}
		.fp-content {
			margin-top: 2em;
			padding-right: 4em;
			@include font-size(.875);

			@include breakpoint(tablet-v) {
				margin-top: 1em;
				padding: 0;
			}
		}

		.fp_link {
			margin-top: 2em;
		}

		h3 {
			a {
				color: $color__yellow;
				border: none;
			}
		}

		img {
			width: 100%;

			@include breakpoint(tablet-v) {
				width: 106%;
				margin-left: -3%;
				max-width: none;
			}
		}
	}

	.proj-block {
		h4 a {
			color: $color__yellow;
		}
	}
}

.project-list-wrap {
	margin-top: 6em;
	padding: 6em 0 1em;

	@include breakpoint(phone-h) {
		padding-top: 0;
	}

	.view-all {
		float: right;
		line-height: 1;
		text-align: center;
		width: 85px;

		//@include breakpoint(tablet-v) {
		//	display: block;
		//	float: none;
		//	margin-bottom: 2em;
		//}
	}

	.view-text {
		font-family: $font__sans;
		font-weight: $font__weight-semibold;
		margin-top: .75em;
		@include font-size(.875);
	}
}

.view-all a:hover .cssicon-arrow-r {
	background-color: $color__olive;
}

.project-list {
	display: inline-block;
	width: calc(100% - 85px);

	//@include breakpoint(tablet-v) {
	//	width: 100%;
	//}

	&.extended {
		display: none;
	}

	.proj-block {
		float: left;
		margin-right: 3.5%;
		margin-bottom: 2.5em;
		width: 31%;

		@include breakpoint(tablet-v) {
			float: none;
			margin-right: 0;
			margin-bottom: 3.5em;
			width: 100%;
		}

		&:nth-child(3) {
			margin-right: 0;
		}

		a {
			color: #ffffff;

			h4 {
				color: $color__yellow;
			}

			&:hover h4 {
				color: #ffffff;
			}
		}

		img {
			display: block;
		}

		.excerpt {
			border-bottom: 1px solid #ffffff;
			margin: 1em 0 1.5em;
			@include font-size(.875);

			p {
				margin-bottom: 0;
			}
		}
	}
}

.single-project {

	.fi {
		margin: 40px 0 0 100px;

		@include breakpoint(tablet-v) {
			margin: 6% -3% 0;
		}
	}

	.featured-image {
		display: block;
	}

	.project-list-wrap {
		background-color: $color__base-xxlight;
	}

	.cssicon-plusminus {
		background-color: $color__base-light;
		border: 2px solid $color__olive;

		&:hover {
			background-color: $color__olive;
		}
	}

	.proj-block {
		a {
			color: $color__base;

			h4 {
				color: $color__base;
			}

			&:hover h4 {
				color: $color__blue;
			}
		}

		.excerpt {
			border-color: $color__olive;
		}
	}
}

.projects-footer {
	background-color: $color__blue;
	color: #ffffff;
	font-family: $font__sans;
	padding: 8em 1em 5em;
	@include font-size(.875);

	@include breakpoint(tablet-v) {
		padding: 3em 0;
		@include font-size(.75);
	}

	.col-1-3 {
		padding-right: 2em;

		@include breakpoint(tablet-v) {
			padding-right: 0;
		}
	}

	a {
		border-bottom: 2px solid $color__green-lt;
		color: #ffffff;
		float: right;
		font-weight: $font__weight-bold;
		padding-top: 1em;

		@include breakpoint(tablet-v) {
			float: none;
			display: inline-block;
			padding-top: 0;
			margin-bottom: 2em;
		}

		&:hover {
			opacity: .75;
		}
	}

	h3 {
		font-family: $font__main;
	}

	h4 {
		font-family: $font__main;
		margin-top: 2em;

		@include breakpoint(tablet-v) {
			@include font-size(1);
		}
	}
}
