.trust {

// ON PAGE MENU
	.onpage-menu {
		font-family: $font__sans;
		font-weight: $font__weight-bold;

		.onpage-menu-item {
			margin-bottom: .875em;
		}

		a {
			color: $color__blue;
			padding-bottom: 3px;
			border-bottom: 1px solid $color__blue-lt;

			&:hover {
				opacity: .75;
			}
		}
	}

	h2 {
		@include font-size(4.185);

		@include breakpoint(phone-h) {
			@include font-size(2.5);
		}
	}

// FULLWIDTH IMAGE
	.trust-image {
		margin-top: 4em;
		position: relative;

		@include breakpoint(tablet-v) {
			margin-top: 0
		}

		.trust-image-image {
			margin-bottom: 2.125em;
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			width: auto;
			max-width: 1000%;

			img {
				width: 100%;
				max-width: none;
			}
		}

		.trust-image-caption {
			color: #4a5350;
			@include font-size(.875)

			span {
				border-bottom: 1px solid $color__beige;
				display: inline-block;
			}
		}
	}

// MIDDLE SECTION COLUMNS
	.trust-mid {
		margin-top: 3em;

		h2 {
			color: $color__beige;
			margin-bottom: 1em;
			margin-left: 1em;

			@include breakpoint(tablet-v) {
				margin-left: 0;
				margin-bottom: .5em;
			}
		}
	}

	.trust-cols {
		margin: 0 6em 6em 12em;
		@include font-size(.875);

		@include breakpoint(tablet-v) {
			margin: 0 0 2em 0;
		}

		h3 {
			color: $color__blue;
			@include font-size(1.5);
		}

		.text,
		.extra {
			font-family: $font__sans;

			p:last-of-type {
				margin-bottom: .5em;
			}
		}

		.col-txt {
			margin-bottom: 6em;

			@include breakpoint(tablet-v) {
				margin-bottom: 2.5em;
			}
		}

		.col-image {
			text-align: right;
			margin-top: 3em;
		}

		.extra,
		.c {
			display: none;
		}

		.expand {
			border-top: 1px solid $color__beige;
			color: $color__beige;
			cursor: pointer;
			font-family: $font__sans;
			font-weight: $font__weight-bold;
			padding: .5em 0;
			margin: 0;

			&:hover {
				opacity: .75;
			}

			&.open {
				.c {
					display: block;
				}
				.e {
					display: none;
				}
			}
		}
	}

// MESSAGE
	.message {
		background-color: $color__olive;
		color: #ffffff;
		margin-top: 3em;
		margin-bottom: 30em;
		padding: 1em 0 3em;

		@include breakpoint(tablet-v) {
			margin-top: 0em;
			margin-bottom: 64em;
		}
		@include breakpoint(phone-v) {
			margin-bottom: 34em;
		}
		@include breakpoint(phone-v) {
			margin-bottom: 34em;
		}

		.text {
			margin: 5em 4em 0 1em;

			@include breakpoint(tablet-m) {
				margin-top: 2em;
			}
		}

		.message-image {
			position: absolute;
			top: 0;
			left: 0;

			@include breakpoint(tablet-v) {
				top: 98%;
				left: 5%;

				img {
					max-width: none;
					width: 95%;
				}
			}

			.message-image-caption {
				color: #4a5350;
				padding-right: 2em;
				@include font-size(.875)

				span {
					border-bottom: 1px solid $color__beige;
					display: inline-block;
				}
			}
		}
	}

// TRUSTEES & DIRECTORS
	.trustees,
	.directors {
		h2 {
			color: $color__blue;
			margin-bottom: 1em;
		}
	}

	.section-title {
		border-bottom: 1px solid $color__olive;
		display: inline;
		padding-right: 4em;
	}

	.team-list {
		display: inline-block;
		margin-left: 20%;
		width: 80%;

		@include breakpoint(phone-h) {
			margin-left: 0;
			width: 100%;
		}

		.portrait {
			float: left;
			margin-right: 3.5%;
			margin-bottom: 4em;
			width: 31%;
			@include font-size(.75);

			@include breakpoint(tablet-v) {
				float: none;
				margin-right: 0;
				margin-bottom: 3.5em;
				width: 100%;
			}

			&:nth-child(3n +3) {
				margin-right: 0;
			}

			img {
				display: block;
				width: 100%;
			}

			.title {
				border-bottom: 1px solid $color__olive;
				margin: 1em 0 1.5em;
				@include font-size(.875);
			}

			h3 {
				@include font-size(1.625);
			}
		}
	}
}
