/*
 * Utility
--------------------------------------------- */

@include breakpoint(tablet-min-v) {
	.mobile-only {
		display: none !important;
	}
}

@include breakpoint(tablet-v) {
	.desktop-only {
		display: none !important;
	}
}

.ta-center {
	text-align: center;
}
.ta-right {
	text-align: right;
}

img.flex {
	width: 100%;
}

.bg-base {
	background-color:$color__base;
}
.bg-base-medium {
	background-color:$color__base-medium;
}
.bg-base-light {
	background-color:$color__base-light;
}
.bg-base-xlight {
	background-color:$color__base-xlight;
}
.bg-base-xxlight {
	background-color:$color__base-xxlight;
}
.text-green {
	color:$color__green;
}
.bg-green {
	background-color:$color__green;
}
.bb-green {
	border-bottom: 2px solid $color__green;
}
.text-blue {
	color:$color__blue;
}
.bg-blue {
	background-color:$color__blue;
}
.bb-blue {
	border-bottom: 2px solid $color__blue;
}
.bg-white {
	background-color: #ffffff;
}
.text-white {
	color: #ffffff;
}
.bg-black {
	background-color: #000000;
}
.text-black {
	color: #000000;
}
