input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: $color__green;
	color: #ffffff;
	border-color: $color__green-lt;
	border-style: solid;
	border-width: 0 2px 2px 2px;
	cursor: pointer;
	line-height: normal;
	padding: 1em 1em .875em;
	position: relative;
	white-space: normal;
	z-index: 1;

	&:hover {
		color: #ffffff;
		background-color: #ffffff;
		color: $color__green;
	}
}

.btn {
	background-color: $color__green;
	color:  #ffffff;
	border-color: $color__green-lt;
	border-style: solid;
	border-width: 0 2px 2px 2px;
	font-weight: $font__weight-bold;
	cursor: pointer;
	line-height: normal;
	padding: 1em 1em .875em;
	position: relative;
	white-space: normal;
	width: auto;
	z-index: 1;
	@include font-size(.875);

	&:hover,
	&:focus,
	&:active {
		background-color: #ffffff;
		color: $color__green;
	}

	&:focus,
	&:active {
		outline: 0;
		border: 0;
	}

	&.alt {
		background-color: $color__tan-lt;
		border-color: $color__green;
		color: $color__green;

		&:hover, &:focus, &:active {
			background-color: $color__green;
			color:  #ffffff;
			border-color: $color__green-lt;
		}
	}

	&.brown {
		background-color: $color__brown-lt;
		border-color: #ffffff;

		&:hover, &:focus, &:active {
			background-color: #ffffff;
			border-color: $color__brown-lt;
			color: $color__brown-lt;
		}
	}
	&.blue {
		background-color: $color__blue;
		border-color: #ffffff;

		&:hover, &:focus, &:active {
			background-color: #ffffff;
			border-color: $color__blue;
			color: $color__blue;
		}
	}

	&.wide {
		width: 100%;
		text-align: center;
	}
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.btn {
	display: inline-block;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		padding: 1.25em 1em 1em;
	}
}
