q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

blockquote {
	background: #ffffff;
	line-height: 1.4;
	margin: .75em 5em 1.5em;
	padding: 1.5em 0;
	position: relative;
	quotes: "\201C""\201D""\201C""\201D";
	@include font-size(1.625);

	@include breakpoint(tablet-v) {
		padding: 0;
		margin: 3em 1.5em;
		@include font-size(1.375);
	}

	&:before,
	&:after {
		content: "";
		display: block;
		font-family: Georgia, serif;
		height: 0;
		position: absolute;
		top: 25%;
		@include font-size(3.75);
	}

	&:before {
		content: "\201C";
		left: -1em;
	}
	&:after {
		content: "\201D";
		right: -1em;
	}
	@include breakpoint(tablet-v) {
		&:before {
			top: -60px;
			left: 45%;
		}
		&:after {
			top: 100%;
			right: 50%;
		}
	}

	cite {
		display: block;
		font-weight: $font__weight-bold;
		font-style: normal;
		line-height:1.25;
		margin-top: 1.5em;
		text-transform: uppercase;
		@include font-size(.875);

		&:before {
			content: '';
			width: 2.5em;
			height: .25em;
			margin-right: 1em;
			border-top: 1px solid $color__base;
			display: inline-block;
		}

		span {
			font-weight: $font__weight-normal;
			@include font-size(.75);
		}
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}
