body,
button,
input,
select,
textarea {
	font-family: $font__main;
}

h1, h2, h3, h4, h5, h6,.site-title {
	font-weight: $font__weight-normal;
}

.sans,
.site-navigation,
.site-info p,
.social,
.caption,
blockquote {
	font-family: $font__sans;
}
